<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARVC2010</key>
	<array>
		<array>
			<string>2D Echo: Regional RV akinesia or dyssynchronous RV contraction an PLAX RVOT &gt;= 32 mm (&gt;= 21 mm/m2)</string>
			<true/>
			<string>0</string>
		</array>
		<array>
			<string>Test</string>
			<false/>
			<integer>0</integer>
		</array>
	</array>
</dict>
</plist>
