<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARVC</key>
	<dict>
		<key>SectionHeaders</key>
		<array>
			<string>I. Global/Regional Dysfunction and Structural Alterations</string>
			<string>II. Tissue Characterizations of Wall</string>
			<string>III. Repolarization Abnormalities</string>
			<string>IV. Depolarization and Conduction Abnormalities</string>
			<string>V. Arrhythmias</string>
			<string>VI. Family History</string>
		</array>
	</dict>
	<key>ARVC2010</key>
	<array>
		<array>
			<array>
				<string>Echo: Regional RV akinesia, dyskinesia, or aneurysm with PLAX RVOT ≥ 32 mm (PLAX/BSA ≥ 19 mm/m²)</string>
				<integer>100</integer>
			</array>
			<array>
				<string>Echo: Regional RV akinesia, dyskinesia, or aneurysm with PSAX RVOT ≥ 36 mm (PLAX/BSA ≥ 21 mm/m²)</string>
				<integer>100</integer>
			</array>
			<array>
				<string>Echo: Regional RV akinesia, dyskinesia, or aneurysm with fractional area change ≤ 33%</string>
				<integer>100</integer>
			</array>
			<array>
				<string>MRI: Regional RV akinesia, dyskinesia, or aneurysm with ratio of RV EDV/BSA ≥110 		mL/m² 		(male) or ≥ 100 mL/m² (female) OR RV EF &lt;= 40%</string>
				<integer>100</integer>
			</array>
			<array>
				<string>MRI: Regional RV akinesia, dyskinesia, or aneurysm with RV ejections fraction ≤ 40%</string>
				<integer>100</integer>
			</array>
			<array>
				<string>RV Angiography: Regional RV akinesia, dyskinesia, or aneurysm</string>
				<integer>100</integer>
			</array>
		</array>
	</array>
</dict>
</plist>
